# type:name:location:archive
plugin:redmine_agile:plugins:redmine_agile-1_6_13-pro.zip
plugin:redmine_checklists:plugins:redmine_checklists-4_0_2-pro.zip
plugin:redmine_contacts_helpdesk:plugins:redmine_contacts_helpdesk-4_2_9-pro.zip
plugin:redmine_contacts:plugins:redmine_crm-4_4_5-pro.zip
plugin:redmine_reporter:plugins:redmine_reporter-2_0_6-pro.zip
plugin:redmine_zenedit:plugins:redmine_zenedit-3_0_0-pro.zip
plugin:redmine_resources:plugins:redmine_resources-2_0_8-pro.zip
theme:a1:themes:a1_theme-4_1_2.zip
